[submodule "mvn-repo/release"]
	path = mvn-repo/release
	url = https://git.fh-aachen.de/mazenet/maven-repo.git
	branch = release
[submodule "mvn-repo/snapshot"]
	path = mvn-repo/snapshot
	url = https://git.fh-aachen.de/mazenet/maven-repo.git
	branch = snapshot
[submodule "target/mvn-repo"]
	path = target/mvn-repo
	url = https://git.fh-aachen.de/mazenet/maven-repo.git
	branch = release
